@import "../../styles/variables.scss";

.main-header {
  font-family: $default-font;
  font-weight: normal;
  color: $primary-text-color;
}

.scroll-view {
  background-color: whitesmoke;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s ease-out;
}
